.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-neon-blue);
  box-shadow: 1px 2px 2px 2px var(--color-box-shadow);
  cursor: pointer;
  position: relative;
  width: 25rem;
}
.button-animation {
  position: absolute;
  font-size: 1.6rem;
  transform: translate(150%, 500%);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  transition: 0.1s;
}
.category-card:hover .overlay {
  display: block;
  background-color: var(--color-box-shadow);
}
.image-categories {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  margin: 1rem 0;
}
