.cart{
    height: 3rem;
    cursor: pointer;
}
.logo{
    height: 4rem;
}
.logo-header{
    display: flex;
    font-size: 3rem;
}
.heart{
    font-size: 3rem;
    cursor: pointer;
    margin: 0rem 2rem;
}
.logo-name{
    color: var(--color-neon-blue);
}
